.navbar-custom	{
	margin-bottom: 0;
}
.navbar-default-custom	{
	margin-top: 27px;
	border: none;
	/*background: none;*/
}
.navbar-brand-custom	{
	padding: 0 0 0 83px;
}

.navbar-nav-custom	{
	margin: 0;

}
.navbar-nav-custom > li:last-child	{
	margin-right: 82px;
}
.navbar-nav-custom > li > a	{
	padding: 0;
	padding-top: 3px;
	margin-right: 19px;
	/*color: green; /*???*/*/
}
.navbar-nav-custom > li > a:hover	{
	border-top: 3px solid #ff6033;
	padding-top: 0;
}
.navbar-right-custom	{
	margin-right: 0px;
}



.jumbotron-custom	{
	/*height: 100%;*/
	background: url("../img/background-strawberry1.jpg") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
	padding-top: 330px;
	margin-bottom: 0px;
	/*height: 1000px;*/
}
.lead-custom	{
	max-width: 370px;
	text-align: justify;
	/*font-size: 14px; ???*/
}
.btn-primary-custom	{
	background-color: #ff6033;
	border-radius: 0;
	border: none;
}
.center	{
	/*display: flex;*/
	/*align-content: center;*/
}
.about-us-background	{
	background-color: #00c4c4;
	background: url("../img/bg-cup.png") no-repeat center left;
	background-size: cover;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
	padding: 0;
	/*max-width: 2000px;*/
	/*height: 700px;*/
}
.about-us-background h2,
.about-us-background p	{
	color: white;
}
.bg {
	/*background-color: red;*/
}

.mouse	{
	height: 40px;
}
.row-custom	{
	padding: 150px 0;
}