.navbar-custom	{
	margin-bottom: 0;
}
.navbar-default-custom	{
	margin-top: 27px;
	border: none;
	/*background: none;*/
}
.navbar-brand-custom	{
	padding: 0 0 0 83px;
}

.navbar-nav-custom	{
	margin: 0;

}
.navbar-nav-custom > li:last-child	{
	margin-right: 82px;
}
.navbar-nav-custom > li > a	{
	padding: 0;
	padding-top: 3px;
	margin-right: 19px;
	/*color: green; ???*/
}
.navbar-nav-custom > li > a:hover	{
	border-top: 3px solid #ff6033;
	padding-top: 0;
}
.navbar-right-custom	{
	margin-right: 0px;
}
.jumbotron-custom	{
	background: #f9f8fb url("../img/background-strawberry.jpg") no-repeat center center;
	background-size: cover;
/*	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;*/
	padding-top: 200px;
	margin-bottom: 0px;
}
.lead-custom	{
	max-width: 370px;
	text-align: justify;

}
.btn-primary-custom	{
	background-color: #ff6033;
	border-radius: 0;
	border: none;
}


.center-new	{
	margin: 0 auto;
}
.hidden-new	{
	visibility: hidden;
}
.mouse	{
	height: 55px;
}
.row-custom-mouse	{
	padding-top: 280px;
	margin-right: 0;
	margin-left: 0;
}
.about-us	{
	background-color: #00c4c4;
	padding-top: 40px;
	padding-bottom: 20px;
}
.about-us h2,
.about-us p	{
	color: white;
}
.col-custom-about-us	{
	margin-top: 140px;
}
.services	{
	background-color: #70bfff;
	padding-top: 180px;
	padding-bottom: 130px;
}

.wrap-services-boxibox2	{
/*padding-left: 260px;*/
}

.services-box	{
	background-color: #ffffff;
	width: 100%;
	/*background: #ffffff url("../img/basket-services.jpg") no-repeat 322px center;*/
	max-width: 300px;
	height: 100px;
	margin-bottom: 20px;
	position: relative;

}
.services-box:after	{
	/*display: block;*/
	float: right;
	/*margin-top: -100px;*/
	margin-right: -100px;
	border-left: 1px solid #9d9d9d;
	content: '';
	height: 100px;
	width: 100px;

}
.services-box-bg-basket:after	{
	background: #ffffff url("../img/basket-services.jpg") no-repeat center center;
}
.services-box-bg-hand:after	{
	background: #ffffff url("../img/hand-services.jpg") no-repeat center center;
}
.services-box-bg-globe:after	{
	background: #ffffff url("../img/globe-services.jpg") no-repeat center center;
}
.services-box-bg-carrot:after	{
	background: #ffffff url("../img/carrot-services.jpg") no-repeat center center;
}

.services-box > p   {
	text-align: center;
	position: absolute;
	top: 40%;
	transform: translateY(-40%);
  	left: 50%;
	transform: translateX(-50%);
}

.services-box:nth-child(3) > p   {
	position: absolute;
	top: 30%;
	transform: translateY(-30%);
  	left: 50%;
	transform: translateX(-50%);
}

.wrap-services-head	{
	position: relative;
}

.wrap-services-head > h2	{
	position: absolute;
	top: 50%;
	left: 40%;
	color: white;
}

.gallery	{
	background-color: #ffe92f;
	padding-top: 75px;
	padding-bottom: 100px;
}

.gallery p 	{
	padding-bottom: 40px;
}

.col-custom {
  margin-bottom: 30px;
}

.subscribe	{
	background: url("../img/subscribe-bg.jpg") no-repeat center center;
	background-size: contain;
/*	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;*/
  	padding: 150px 0; 
}
.subscribe > .container	 {

}
.lead-custom-subscribe	{
	width: 550px;
}

.subscribe-form-control-custom	{
	height: 44px;
	border-radius: 0;
	border: 1px solid #262626;
}
.form-control-custom-subscribe::-webkit-input-placeholder	{
	color: #c2c2c2;
}
.form-control-custom-subscribe::-moz-input-placeholder	{
	color: #c2c2c2;
}
.form-control-custom-subscribe::-ms-input-placeholder	{
	color: #c2c2c2;
}
.blog	{
	background-color: #b07cf8;
	padding: 105px 0;
}
.thumbnail-new	{
	position: relative;
	-webkit-box-shadow: inset 0px -123px 128px -41px rgba(0,0,0,0.84);
	-moz-box-shadow: inset 0px -123px 128px -41px rgba(0,0,0,0.84);
	box-shadow: inset 0px -123px 128px -41px rgba(0,0,0,0.84);
}
.thumbnail-new-bg-smoothie	{
	background: url("../img/blog-smoothie.jpg");
	background-size: cover;
}
.thumbnail-new-bg-soup	{
	background: url("../img/blog-soup.jpg");
	background-size: cover;

}
.thumbnail-new-bg-raspberries	{
	background: url("../img/blog-raspberries.jpg");
	background-size: cover;
}
.thumbnail-new > p	{
	color: white;
	line-height: 120%;
	position: absolute;
	left: 20px;
}

.thumbnail-new > p:nth-child(3)	{
	bottom: 35px;
}
.thumbnail-new > p:nth-child(4)	{
	bottom: 10px;
}
.thumbnail-new .thumbnail-new-box	{
	position: absolute;
	top: 30px;
	left: 30px;
	/*background: black;*/
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	height: 60px;
	width: 60px;
}
.thumbnail-new-box > p	{
	color: white;
	font-size: 20px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	line-height: 130%;
	padding-top: 6px;
}
.thumbnail-new-box > p:first-line	{
	font-size: 32px;
}
.contact	{
	background: url("../img/contact-bg.jpg") no-repeat;
	background-size: cover;
}
.contact-form-control-custom	{
	height: 50px;
	background-color: #00c4c3;
	opacity: 0.4;
	border-radius: 0;
	border: none;
	color: white;

}

.contact-form-control-custom:focus	{
	opacity: 1;
}
.contact-form-control-custom::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
.contact-form-group-custom	{
	margin: 0;
}

@media 	only screen and (min-width: 1230px)	{
	.jumbotron-custom	{
		height: 1000px;
		background-size: auto;
		padding-top: 330px;

	}
}